@import url(https://fonts.googleapis.com/css?family=Open+Sans);
body{
  background-color: black;
  max-width:none;
}
.logo{
  width: 60px;
  height: 60px;

}
.gamerhaven{
  color: white;
  margin-top: 15px;
  font-size: 30px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.gh{
  display: flex;
  margin-top: 15px;
}
.nav{
  display: flex;
  flex-direction:row;
}

.header{
  display: flex;
  justify-content: space-between;
}
a{
  padding: 30px;
  text-decoration: none;
  color: white;
  font-size: 30px;
}
a:hover{
  color:gray
}
.user{
  margin-top: 30px;
}